<!DOCTYPE html>

<html>

<head>
    <title>Rachel's Blog</title>
</head>

<body>
    <header>
        <h1><a href="/">Rachel's Blog</a></h1>
    </header>

    <article>
        <time>published: 22.09.2023, 16.08</time>
        <h2><a href="">My Second post</a></h2>
        <p>I hope to be able to build this from scratch and understand all of the intricacies.</p>
    </article>
    <article>
        <time>published: 21.09.2023, 04.08</time>
        <h2><a href="">My first post</a></h2>
        <p>There are many programming languages and different ways to achieve a similar output. Hopefully learning each
            new approach will become easier and easier.</p>
    </article>

</body>

</html>